<%
CalendarDateSelect.format = (params[:fmt]||"natural").to_sym
params[:style]||="red"
params[:style]=nil if params[:style]=="default"
%>
<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" 
   "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <title>CalendarDateSelect Demo - A lightweight Ruby on Rails Date Picker / DateTime picker based on the prototype JavaScript framework.</title>
      <%= javascript_include_tag "prototype" %>
      <%= stylesheet_link_tag "basic.css" %>
      <%= calendar_date_select_includes params[:style]%>
  </head>
  <style>
    pre { background-color:black; color:white; padding:15px; }
    dd {
    }
    dt {
      font-weight: bold;
      width: 320px;
    }

  </style>

  <body>
    <div id="container">
    <div id="content_header">
      &nbsp;
    </div>
    <div id="page">
      <br />
      <h1>CalendarDateSelect Demo</h1>
      <p style="text-align:center">
        <%= link_to "Project Home Page", "http://code.google.com/p/calendardateselect/" %>
      </p>
      <form id="options_form" name="options_form" method="get" action="">
        <div style="text-align:center">
          Style:
          <%= select_tag "style", options_for_select([["default"], ["blue"], ["red"], ["silver"], ["plain"]], params[:style]), :onchange => "$('options_form').submit();" %>
        </div>
        <div style="text-align:center">
          Date Format:
          <%= select_tag "fmt", options_for_select([["natural - January 2, 2007 5:00pm", "natural"], ["hyphen_ampm - 2007-02-01 5:00pm", "hyphen_ampm"], ["finnish - 1.2.2007 17:00", "finnish"], ["american - 12/31/2000 5:00 pm", "american"], ["euro_24hr - 01 January 2000 17:00", "euro_24hr"], ["iso_date - 2007-01-01 17:00", "iso_date"]], params[:fmt]),  :onchange => "$('options_form').submit();" %>
        </div>
      </form>
      <% tabset :id => "tabs8", :selected => params[:tab]||"embedded" do %>
      <br clear='both' />
      <div class="box">
        <% define_tab "embedded", "Embedded Calendars" do %>
          <%= render :partial => 'embedded' %>
        <% end %>
        <% define_tab "popup", "Popup Calendars" do %>
          <%= render :partial => 'popup' %>
        <% end %>
        <% define_tab "form_builder", "Form Builder Integration" do %>
          <%= render :partial => 'form_builder' %>
        <% end %>
        <% define_tab "callbacks", "Callbacks" do %>
          <%= render :partial => 'callbacks' %>
        <% end %>
        <% define_tab "other", "Other features" do %>
          <%= render :partial => 'other' %>
        <% end %>
      </div>
      <% end %>
    </div>
    <div id="content_footer">
      
    </div>
    </div>
  </body>
</html`>
`